:root {
  --color-gray: #cccccc;
  --color-accent: #5180e9;

  font-size: 16px;
  color: #555;

  --cssx-children: main#container;
}

#container {
  max-width: 600px;
  margin: 2rem auto;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  overflow: hidden;

  --cssx-children: form#task-input-form #task-list;
}

#task-input-form {
  display: flex;
  width: 100%;

  /* prettier-ignore */
  --cssx-on-submit:
    prevent-default()
    add-children(
      task-list,
      instance(div#task-item, map(--text: attr(text-input, 'value')))
    )
    set-attr(text-input, value, '')
  ;

  /* prettier-ignore */
  --cssx-on-mount:
    add-children(
      task-list,
      instance(div#task-item, map(--text: "Buy lemons"))
    )
    add-children(
      task-list,
      instance(div#task-item, map(--text: "Make lemonaide"))
    )
    add-children(
      task-list,
      instance(div#task-item, map(--text: "Kill all the non-believers"))
    )
  ;

  /* prettier-ignore */
  --cssx-children:
    input#text-input[placeholder="Eg: Buy Milk"]
    button#create-task-btn[type=submit]
  ;
}

#text-input {
  display: block;
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--color-gray);
}

#create-task-btn {
  padding: 0 2rem;
  background-color: var(--color-accent);
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.2rem;

  --cssx-text: '+';
}


[data-instance=task-item] {
  --text: "default text";
  --done: "false";

  padding: 1rem;
  cursor: pointer;

  --cssx-on-click: update(--done, if(get-var(--done), "false", "true"));
  --cssx-on-update:
    update(checkbox, --checked, if(get-var(--done), true, false))
  ;

  --cssx-children: div#checkbox;
}
[data-instance=task-item]::after {
  content: "[" var(--done) "] " var(--text);
}

[data-instance=task-item]:not(:first-child) {
  content: "";
  display: block;
  border-top: 1px solid var(--color-gray);
}

#checkbox {
  --checked: false;

  width: 18px;
  height: 18px;
  border: 2px solid gray;
  background-color: transparent;

  --cssx-on-update:
    update(background-color, if(get-var(--checked), get-var(--color-accent), transparent))
  ;
}
