body {
  --cssx-children: button#signup-btn #signup-page;
}
body * { box-sizing: border-box; }

#signup-btn {
  display: inline-block;
  background: #5180e9;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  cursor: pointer;

  --cssx-on-click:
    add-class(signup-page, 'loading')
    add-class(signup-btn, 'loading')
    delay(0.5s)
    load-cssx(signup-page-content, './signup.css')
    remove-class(signup-page, 'loading')
    remove-class(signup-btn, 'loading');
}
#signup-btn::after {
  content: 'Register now to start your free trial for $99';
}
#signup-btn:hover {
  opacity: 0.8;
}
#signup-btn.loading {
  pointer-events: none;
  opacity: 0.4;
}

#signup-page {
  --cssx-children: div#signup-page-content;
}
#signup-page.loading::after {
  content: 'Loading...';
}
