
#output-container-content {
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid #888;

  --cssx-children: counter-text btn-increment;
  --count: '0';
}
#output-container-content::after {
  content: "Loaded from external stylesheet";
}

#counter-text {}
#counter-text::after { content: var(--count) }

#btn-increment {
  display: inline-block;
  border: 1px solid gray;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  cursor: pointer;

  --cssx-on-click: update(output-container-content, --count, '99');
}
#btn-increment::after { content: "Increment" }
