body {
  --cssx-children: button#load-btn output-container;
}

#load-btn {
  display: inline-block;
  background: #5180e9;
  color: #000;
  padding: 0.5rem 1rem;
  cursor: pointer;

  --cssx-on-click:
    add-class(output-container, 'loading')
    add-class(load-btn, 'loading')
    load-cssx(output-container-content, './content.css')
    remove-class(output-container, 'loading')
    remove-class(load-btn, 'loading')
    delay(0.7s)
    js-eval('alert("Loaded page")')
  ;
}
#load-btn::after { content: "Click me for magic"; }
#load-btn.loading {
  pointer-events: none;
  opacity: 0.4;
}

#output-container {
  --cssx-children: output-container-content;
}
#output-container.loading::after {
  content: "Loading...";
}

