
body {
  --cssx-children: element-1 element-2 element-3;
}

#element-1 {
  --cssx-on-click: js-eval('alert("clicked")');
}
#element-2 {
  --from-variable: "is here";
}
#element-2::after { content: "My content: " var(--from-variable); }

#element-3 {
  --cssx-on-click: js-eval('alert("clicked")');
}
